<h3 style="margin-top:0px">Account details</h3>
<table class="table table-striped table-condensed">
  <tr>
    <td><strong>Name</strong></td>
    <td><%= "#{@customer.first_name} #{@customer.last_name}" %></td>
  </tr>
  <tr>
    <td><strong>Address</strong></td>
    <td><%= @customer.address %></td>
  </tr>
  <tr>
    <td><strong>City</strong></td>
    <td><%= @customer.city %></td>
  </tr>
  <tr>
    <td><strong>Postal code</strong></td>
    <td><%= @customer.postal_code %></td>
  </tr>
</table>