<div class="page-header">
  <h1>Welcome to The Store!</h1>
</div>

<div class="row">
  <% @products.each do |product| %>
    <div class="span3">
      <h3><%= product.name %></h3>
      <p><%= truncate product.description %></p>
      <div class="form-actions">
        <a class="btn">More info</a>
        <a class="btn btn-primary">Add to cart</a>
      </div>
    </div>
  <% end %>
</div>
